
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.d-group{
    display: flex;
}
body {
    font-family: Arial, sans-serif;
    /* background-color: #f7f7f7; */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.group-login {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.group-login h1 {
    font-size: 24px;
    color: #333;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.btn-login {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn-login:hover {
    background-color: #0056b3;
}

.btn-ref {
    background-color: #ccc;
    color: #333;
    margin-right: 10px;
}

.btn-ref:hover {
    background-color: #bbb;
}
.left-col {
    max-width: 400px;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.right-col {
    max-width: 400px;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.right-col h4 {
    margin-bottom: 10px;
    color: #333;
}

.right-col p {
    margin-bottom: 5px;
    color: #666;
}

.btn-register-default {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.btn-register-default:hover {
    background-color: #0056b3;
}
