*{
    margin: 0;
    padding: 0;
}
.main-content {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 1200px;
    height: fit-content ;
    background-color: #ffffff;
}
.main{
    margin-top: 10px;
    margin-bottom: 25px;
}
h1, h3{
    font-family: 'Times New Roman', Times, serif;
}

h3{
    font-size: 20px;
    font-weight: 700;
}
hr{
    width: 500px;
}
.required{
    color: red;
}
input{
    width: 100px;
}
.billing-order{
    display: flex;
}
.name{
    display: flex;
}
.fn,
.ln{
    width: 220px;
}
.fn{
    margin-right: 60px;
}
.billing-details input,
.additional-information input,
select{
    height: 45px;
}
.email,
.company,
.country,
.street,
.district,
.street-address,
.phone-number,
.order-notes{
    margin-top: 5px;
    width: 500px;
}
.fn label,
.ln label,
.email label,
.company label,
.country label,
.street label,
.district label,
.street-address label,
.phone-number label,
.order-notes{
    margin-top: 10px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13.5px;
    font-weight: 700;
    color: #565a61;;
}
.additional-information{
    margin-top:30px;
}
.order-payment{
    margin-left: 70px;
    height:fit-content;
    border: 1px solid #dddddd;
}
.inside-order-payment{
    margin: 15px;
}
.your-order{
    width: 400px;
    margin-left: 20px;
}
.your-order-table th,
.your-order-table td{
    color: #565a61;
}
.container h4{
    font-family: 'Times New Roman', Times, serif;
}
.imgName{
    display: flex;
}
.category{
    margin-top: 10px;
    padding-top: 10px;
}
.category label{
    display: flex;
    padding: 20px;
    width: 100%;
    height: 50px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
}
.imgName  img{
    width: 50px;
    height: auto;
}
.imgName span{
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #565a61;
}
label .imgName{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
label:nth-child(2), label:nth-child(3){
    margin: 15px 0;
}

.payment-on-delivery img{
    width: 55px;
}
.visa img{
    width: 55px;
}
.mastercard img{
    width: 55px;
}
.local-bank img{
    width: 55px;
}
.check{
    display: none;
}
.container input{
    display: none;
}
input:checked.visa-check ~ .category .visaMethod,
input:checked.mastercard-check ~ .category .mastercardMethod,
input:checked.local-check ~ .category .local-bankMethod,
input:checked.payment-on-delivery-check ~ .category .payment-on-deliveryMethod{
    box-shadow: 0px 0px 0px 1px #6064b6;
}
input:checked.visa-check ~ .category .visaMethod .check,
input:checked.mastercard-check ~ .category .mastercardMethod .check,
input:checked.local-check ~ .category .local-bankMethod .check,
input:checked.payment-on-delivery-check ~ .category .payment-on-deliveryMethod .check{
    display: block;
}
.order{
    margin-top: 10px;
}
.btn-outline-custom{
    width: 440px;
    color: #5f4ecb;
    border-color: #5f4ecb;
}
.btn-outline-custom:hover{
    color: white;
    background-color: #5f4ecb;
}

