.new-release-books {
    margin: 50px 0 20px 0;
    padding: 10px;
}

.small-title {
    text-align: center;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    color: rgba(122, 122, 122, 1);
}

.wrap-big-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.wrap-big-title hr {
    margin-top: 25px;
    width: 450px;
    border-width: 1px;
    color: rgb(104, 104, 104);
}

.hr {
    margin-top: 35px;
    width: 100%;
    border-width: 1px;
    color: rgb(104, 104, 104);
}

.big-title {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    line-height: 50px;
    color: rgba(57, 50, 128, 1);
}

.view-all-products {
    display: flex;
    justify-content: end;
    margin-top: 25px;
    font-size: 16px;
    color: rgba(237, 85, 59, 1);
    align-items: center;
    column-gap: 12px;
}

.view-all-products a {
    color: rgba(237, 85, 59, 1);
}

@media (max-width: 1024px) {
    .small-title {
        font-size: 10px;
    }

    .wrap-big-title hr {
        width: 35%;
    }

    .big-title {
        font-size: 26px;
        line-height: 35px;
    }

    .view-all-products {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .small-title {
        font-size: 10px;
    }

    .wrap-big-title hr {
        width: 30%;
    }

    .big-title {
        font-size: 24px;
        line-height: 45px;
    }

    .view-all-products {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .small-title {
        font-size: 8px;
    }

    .wrap-big-title hr {
        width: 20%;
    }

    .big-title {
        font-size: 20px;
        line-height: 45px;
    }

    .view-all-products {
        font-size: 12px;
    }
}