.wrapper {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  background-color: #e0e5e9;
  font-family: Roboto, sans-serif;
  color: #333;
  position: relative;
}

.inner {
  padding: 20px;
  background: #fff;
  max-width: 850px;
  margin: auto;
  display: flex;
  min-width: 600px;
}

.image-holder {
  width: 50%;
}
.image-holder img {
  width: 100%;
}

.inner form {
  width: 50%;
  padding-top: 36px;
  padding-left: 45px;
  padding-right: 45px;
}

.inner h3 {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 26px;
}

.form-wrapper {
  position: relative;
}

.form-control {
  border: 1px solid #333;
  border-top: none;
  border-right: none;
  border-left: none;
  display: block;
  width: 100%;
  height: 30px;
  padding: 0;
  margin-bottom: 25px;
  outline: none;
}

.inner button {
  border: none;
  width: 164px;
  height: 51px;
  margin: auto;
  margin-top: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: #333;
  font-size: 15px;
  color: #fff;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
}
.form-group{
  display:flex
}
.form-group input{
  width:50%
}
.form-group input:first-child{
  margin-right:25px
}
.form-wrapper{
  position:relative
}
.form-wrapper i{
  position:absolute;
  bottom:9px;
  right:0
}
.form-wrapper p {
  position: absolute;
  color: red;
  font-size: 12px;
  top: 100%; /* Hiển thị lỗi ở phía dưới trường input */
  left: 0;
  width: 100%; 
  margin-top: 2px; 
  white-space: nowrap; 
}
.send-otp-wrapper p {
  margin-top: -22px;
  white-space: nowrap;
  width: 100%;
}
.form-control::-webkit-input-placeholder{
  font-size:16px;
  color:#333;
}
.form-control::-moz-placeholder{
  font-size:16px;
  color:#333;
}
.form-control:-ms-input-placeholder{
  font-size:16px;
  color:#333;
}
.form-control:-moz-placeholder{
  font-size:16px;
  color:#333;
}
.inner button i {
  margin-left:10px;
  -webkit-transform:translateZ(0);
  transform:translateZ(0)
}
.inner button:hover i,button:focus i,button:active i{
  -webkit-animation-name:hvr-icon-wobble-horizontal;
  animation-name:hvr-icon-wobble-horizontal;
  -webkit-animation-duration:1s;
  animation-duration:1s;
  -webkit-animation-timing-function:ease-in-out;
  animation-timing-function:ease-in-out;
  -webkit-animation-iteration-count:1;
  animation-iteration-count:1
}
.link-register {
  margin-top: 30px;
}
.link-register a:hover {
  text-decoration: underline;
}
.err-message {
  font-size: 14px;
  color: #ff3333;
}
.success {
  color: #0ca34b;
}
.success a {
  text-decoration: underline;
}
.dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 32px 48px;
	background: white;
	max-width: 400px;
	border-radius: 20px;
	border: 0;
	box-shadow: 0 5px 30px 0 rgb(0 0 0 / 10%);
  width: 100%;
  visibility: hidden;
  z-index: 99;
}
.dialog.open {
  opacity: 1;
	animation: fadeIn 1s ease both;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  z-index: 9;
}
.dialog.open + .overlay {
  animation: fadeIn 1s ease both;
  background: rgb(255 255 255 / 40%);
  z-index: 2;
  backdrop-filter: blur(1px);
}
.close {
  filter: grayscale(1);
  border: none;
  background: none;
  position: absolute;
  top: 15px;
  right: 10px;
  transition: ease filter, transform 0.3s;
  cursor: pointer;
  transform-origin: center;
}
.close:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}
@keyframes fadeIn {
	from {
		opacity: 0;
    visibility: hidden;
	}
	to {
    visibility: visible;
		opacity: 1;
	}
}
.send-otp-wrapper{
  display: flex;
  align-items: center;
}
.send-otp-wrapper input{
  width: 220px;
}
.send-otp-wrapper button{
  width: 80px;
  max-height: 40px;
  margin-top: -32px;
  margin-left: 15px;
  margin-right: 5px;
}
.send-otp-wrapper .send-otp-success{
  color: rgb(0, 227, 0);
}
.disabledButton {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}
.form-error {
  display: none;
}

.form-error.show {
  display: block;
}

@-webkit-keyframes hvr-icon-wobble-horizontal{
  16.65%{
      -webkit-transform:translateX(6px);
      transform:translateX(6px)
  }
  33.3%{
      -webkit-transform:translateX(-5px);
      transform:translateX(-5px)
  }
  49.95%{
      -webkit-transform:translateX(4px);
      transform:translateX(4px)
  }
  66.6%{
      -webkit-transform:translateX(-2px);
      transform:translateX(-2px)
  }
  83.25%{
      -webkit-transform:translateX(1px);
      transform:translateX(1px)
  }
  100%{
      -webkit-transform:translateX(0);
      transform:translateX(0)
  }
}
@keyframes hvr-icon-wobble-horizontal{
  16.65%{
      -webkit-transform:translateX(6px);
      transform:translateX(6px)
  }
  33.3%{
      -webkit-transform:translateX(-5px);
      transform:translateX(-5px)
  }
  49.95%{
      -webkit-transform:translateX(4px);
      transform:translateX(4px)
  }
  66.6%{
      -webkit-transform:translateX(-2px);
      transform:translateX(-2px)
  }
  83.25%{
      -webkit-transform:translateX(1px);
      transform:translateX(1px)
  }
  100%{
      -webkit-transform:translateX(0);
      transform:translateX(0)
  }
}
@media(max-width:991px){
  .inner form{
    padding-top:10px;
    padding-left:30px;
    padding-right:30px
  }
}
@media(max-width:767px){
  .inner{
      display:block
  }
  .inner .image-holder{
      width:100%
  }
  .inner form{
      width:100%;
      padding:40px 0 30px
  }
  button{
      margin-top:60px
  }
}
