.categories,
.exploreOurTop {
  position: absolute;
  display: inline-block;
}
.categories {
  top: 0;
  left: calc(50% - 219px);
  letter-spacing: 0.1em;
  width: 207px;
  height: 19px;
}
.exploreOurTop {
  top: 31px;
  left: calc(50% - 264px);
  font-size: 32px;
  line-height: 44px;
  color: var(--color-darkslateblue-300);
  width: 528px;
  height: 43px;
}
.loremIpsumDolor,
.rectangleParent {
  position: absolute;
  top: 0;
  text-align: left;
}
.rectangleParent {
  left: calc(50% - 657.5px);
  width: 528px;
  height: 74px;
  font-size: var(--font-size-sm);
  color: var(--color-tomato);
}
.loremIpsumDolor {
  left: calc(50% - 50.5px);
  font-size: var(--font-size-lg);
  line-height: 32px;
  font-weight: 500;
  display: inline-block;
  width: 707px;
  height: 162px;
}
.groupInner,
.groupItem {
  position: absolute;
  left: calc(50% - 657.5px);
  width: 416px;
}
.groupItem {
  top: 215px;
  border-radius: var(--br-3xs);
  height: 247px;
  object-fit: cover;
}
.groupInner {
  top: 462px;
  background-color: var(--color-silver-100);
  height: 22px;
  opacity: 0;
}
.higherEducation {
  position: absolute;
  top: 497px;
  left: calc(50% - 571.5px);
  line-height: 32px;
  font-weight: 600;
  color: var(--color-darkslateblue-300);
  display: inline-block;
  width: 246px;
  height: 36px;
}
.loremIpsumDolor1,
.rectangleDiv {
  position: absolute;
  left: calc(50% - 657.5px);
  width: 416px;
}
.rectangleDiv {
  top: 533px;
  background-color: var(--color-silver-100);
  height: 11px;
  opacity: 0;
}
.loremIpsumDolor1 {
  top: 544px;
  font-size: var(--font-size-base);
  line-height: 32px;
  display: inline-block;
  height: 107px;
}
.rectangleIcon {
  position: absolute;
  top: 215px;
  left: calc(50% - 207.5px);
  border-radius: var(--br-3xs);
  width: 415px;
  height: 247px;
  object-fit: cover;
}

.managementBooks {
  position: absolute;
  top: 497px;
  left: calc(50% - 134.5px);
  font-weight: 600;
  color: var(--color-darkslateblue-300);
  display: inline-block;
  width: 268px;
  height: 36px;
}
.loremIpsumDolor2 {
  position: absolute;
  top: 544px;
  left: calc(50% - 207.5px);
  font-size: var(--font-size-base);
  line-height: 32px;
  display: inline-block;
  width: 415px;
  height: 107px;
}
.groupChild {
  position: absolute;
  left: calc(50% + 241.5px);
  width: 416px;
  top: 215px;
  border-radius: var(--br-3xs);
  height: 247px;
  object-fit: cover;
}
.engineeringBooks {
  position: absolute;
  top: 497px;
  left: calc(50% + 307.5px);
  font-weight: 600;
  color: var(--color-darkslateblue-300);
  display: inline-block;
  width: 286px;
  height: 36px;
}
.loremIpsumDolor3 {
  position: absolute;
  left: calc(50% + 241.5px);
  width: 416px;
}
.loremIpsumDolor3 {
  top: 544px;
  font-size: var(--font-size-base);
  line-height: 32px;
  display: inline-block;
  height: 107px;
}
.btnChild,
.groupContainer,
.sliderArrowBtn {
  position: absolute;
  top: 112px;
  left: calc(50% - 657.5px);
  width: 130px;
  height: 50px;
}
.btnChild,
.groupContainer {
  top: 0;
  width: 1315px;
  height: 651px;
}
.btnChild {
  left: calc(50% - 98.5px);
  border-radius: 7px;
  border: 1px solid var(--color-darkslateblue-300);
  box-sizing: border-box;
  width: 197px;
  height: 61px;
}
.vectorIcon {
  height: 16.39%;
  top: 40.98%;
  bottom: 42.62%;
  left: calc(50% + 50.5px);
  max-height: 100%;
  width: 13px;
}
.btn,
.vectorIcon,
.viewMore {
  position: absolute;
}
.viewMore {
  top: 12px;
  left: calc(50% - 63.5px);
  letter-spacing: 0.1em;
  line-height: 220%;
  text-transform: uppercase;
}
.btn {
  top: 692px;
  left: calc(50% - 98.5px);
  width: 197px;
  height: 61px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-darkslateblue-300);
}
.groupParent,
.variationInner {
  position: absolute;
  width: 1315px;
  height: 753px;
}
.groupParent {
  top: 0;
  left: calc(50% - 657.5px);
}
.variationInner {
  top: calc(50% - 817px);
  left: calc(50% - 657px);
}
.viewAllProducts {
  position: absolute;
  top: 808px;
  left: 1252px;
  font-size: var(--font-size-base);
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: right;
}
.vectorIcon1 {
  position: absolute;
  height: 0.96%;
  width: 0.99%;
  top: 97.25%;
  right: 0.21%;
  bottom: 1.79%;
  left: 98.8%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.greatTravelAt,
.onceUponA,
.simpleWayOf,
.theLadyBeauty {
  position: absolute;
  top: 618px;
  left: 31px;
  text-transform: capitalize;
  font-weight: 600;
  color: var(--color-darkslateblue-300);
}
.greatTravelAt,
.onceUponA,
.theLadyBeauty {
  left: 410px;
}
.onceUponA,
.theLadyBeauty {
  left: 758px;
}
.onceUponA {
  left: 1158px;
}
.armorRamsey,
.arthurDoyle,
.b,
.b1,
.b2,
.b3,
.klienMarry,
.sanchitHowdy {
  position: absolute;
  top: 694px;
  left: 127px;
  font-size: var(--font-size-lg);
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.armorRamsey,
.arthurDoyle,
.b1,
.b2,
.b3,
.klienMarry,
.sanchitHowdy {
  left: 492px;
}
.armorRamsey,
.arthurDoyle,
.b2,
.b3,
.klienMarry,
.sanchitHowdy {
  left: 856px;
}
.armorRamsey,
.arthurDoyle,
.b3,
.klienMarry,
.sanchitHowdy {
  left: 1222px;
}
.armorRamsey,
.arthurDoyle,
.klienMarry,
.sanchitHowdy {
  top: 656px;
  left: 113px;
  font-size: var(--font-size-sm);
  color: var(--color-gray-200);
}
.arthurDoyle,
.klienMarry,
.sanchitHowdy {
  left: 477px;
}
.arthurDoyle,
.klienMarry {
  left: 849px;
}
.klienMarry {
  left: 1218px;
}
.book161Icon,
.book34Icon,
.book44Icon {
  position: absolute;
  top: 214px;
  left: 782px;
  width: 219px;
  height: 318px;
  object-fit: cover;
}
.book34Icon,
.book44Icon {
  left: 418px;
}
.book44Icon {
  top: 211px;
  left: 1146px;
  width: 221px;
  height: 321px;
}
.book54Icon,
.book55 {
  position: absolute;
  top: 214px;
  left: 52px;
  width: 220px;
  height: 318px;
}
.book54Icon {
  object-fit: cover;
}
.book55 {
  background-color: var(--color-darkslateblue-300);
  opacity: 0.1;
}

.addToCart {
  position: absolute;
  top: 442px;
  left: 97px;
  font-size: var(--font-size-base);
  letter-spacing: 0.14em;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-white);
}
.newReleaseBooks {
  position: absolute;
  top: 36px;
  left: 483px;
  font-size: 48px;
  text-transform: capitalize;
  font-weight: 600;
  color: var(--color-darkslateblue-300);
}
.someQualityItems {
  position: absolute;
  top: 0;
  left: 627px;
  font-size: 13px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  font-weight: 500;
  color: #7a7a7a;
}
.sliderDotsIcon {
  position: absolute;
  top: 798px;
  left: 645px;
  width: 132px;
  height: 39px;
}
.variationChild,
.viewAllProductsParent {
  position: absolute;
  width: 1420px;
  height: 837px;
}
.viewAllProductsParent {
  top: 0;
  left: 0;
}
.variationChild {
  top: calc(50% - 12px);
  left: calc(50% - 710px);
  font-size: var(--font-size-3xl);
  color: var(--color-tomato);
}
.variation {
  width: 100%;
  position: relative;
  background: linear-gradient(#fff, #fff), #fff;
  height: 1762px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-darkslateblue-500);
  font-family: var(--font-inter);
}
