.logo {
  align-items: center;
  display: flex;
  font-size: 26px;
  font-weight: 800;
  color: #333;
  font-family: Inter;
  text-decoration: none;
}
.logo .highlight {
  color: #228b22;
}
.top-header {
  padding: 8px 0;
  background-color: #393280;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
}
.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
  border-bottom: 2px solid #E0E0E0;
}
.search-wrap {
  height: 40px;
  padding: 0;
  border-radius: 30px;
  overflow: hidden;
  border: 1px solid transparent;
  width: 50%;
  max-width: 600px;
  display: flex;
  align-items: center;
  background-color: #F6F6F6;
}

.search-wrap input {
  flex: 1;
  height: 100%;
  border: none;
  background: transparent;
  padding-left: 20px;
  color: #1c1c1c;
  line-height: 40px;
  font-size: 14px;
  transition: all linear .3s;
}
.search-wrap:focus-within {
  border-color: #212524;
}
.search-wrap .search-btn {
  font-size: 16px;
  padding: 0 16px;
  background-color: transparent;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
.header-action {
  display: flex;
  align-items: center;
  column-gap: 12px;
}
.header-action a {
  color: #111111;
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
}
.header-action a:hover {
  color: #ED553B;
}
.header-action .account {
  position: relative;
}
.header-action .child-action {
  position: absolute;
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 4px;
  padding: 8px 12px;
  right: 0;
  top: calc(100% + 8px);
  z-index: 99;
  min-width: 150px;
  display: none;
}
.child-action > div:hover {
  color: #ED553B;
  cursor: pointer;
}
.header-action .child-action::before {
  content: "";
  width: 100%;
  height: 12px;
  background-color: transparent;
  position: absolute;
  bottom: 100%;
  right: 0;
}
.account:hover .child-action {
  display: block;
}
.device {
  height: 16px;
  width: 2px;
  background-color: #D1D1D1;
}
.header-action .icon {
  font-size: 14px;
  margin-right: 6px;
  line-height: 1;
}
.icon .count-item {
  font-size: 11px;
  width: 19px;
  height: 12px;
  background: #228b22;
  border-radius: 6px;
  color: #fff;
  position: absolute;
  top: 12px;
  left: 6px;
  text-align: center;
  line-height: 12px;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-link {
  color: #111111;
  padding: 16px 0;
  font-weight: 600;
  transition: all .2s linear;
}
.nav-link:hover, .nav-link.active, .nav-child:hover, .nav-child.active {
  color: #ED553B;
}
.nav-link span {
  padding: 0 20px;
  border-right: 1px solid #D1D1D1;
  display: inline-block;
  line-height: 16px;
}
.nav-link:last-child  span {
  border: 0;
}
.nav-parent {
  position: relative;
}
.nav-parent:hover .child-wrap {
  display: block;
}
.child-wrap {
  position: absolute;
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 4px;
  padding: 8px 12px;
  left: -100px;
  top: calc(100% + 10px);
  z-index: 99;
  width: 100%;
  min-width: 600px;
  display: none;
}
.nav-child {
  padding: 8px 0;
  display: inline-block;
  line-height: 16px;
  font-weight: 500;
}

@media (max-width: 991px) {
  .search-wrap {
      /* width: 290px; */
  }
}