.logo {
  align-items: center;
  display: flex;
}
.top-header {
  padding: 8px 0;
  background-color: #393280;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
}
.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
  border-bottom: 2px solid #E0E0E0;
}
.search-wrap {
  height: 40px;
  padding: 0;
  border-radius: 30px;
  overflow: hidden;
  border: 1px solid transparent;
  width: 50%;
  max-width: 600px;
  display: flex;
  align-items: center;
  background-color: #F6F6F6;
}

.search-wrap input {
  flex: 1;
  height: 100%;
  border: none;
  background: transparent;
  padding-left: 20px;
  color: #1c1c1c;
  line-height: 40px;
  font-size: 14px;
  transition: all linear .3s;
}
.search-wrap:focus-within {
  border-color: #212524;
}
.search-wrap .search-btn {
  font-size: 16px;
  padding: 0 16px;
  background-color: transparent;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
.header-action {
  display: flex;
  align-items: center;
  column-gap: 12px;
}
.header-action a {
  color: #111111;
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
}
.header-action a:hover {
  color: #ED553B;
}
.device {
  height: 16px;
  width: 2px;
  background-color: #D1D1D1;
}
.header-action .icon {
  font-size: 14px;
  margin-right: 6px;
  line-height: 1;
}
.icon .count-item {
  font-size: 11px;
  width: 19px;
  height: 12px;
  background: #228b22;
  border-radius: 6px;
  color: #fff;
  position: absolute;
  top: 12px;
  left: 6px;
  text-align: center;
  line-height: 12px;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-link {
  color: #111111;
  padding: 16px 0;
  font-weight: 600;
  transition: all .2s linear;
}
.nav-link:hover, .nav-link.active {
  color: #ED553B;
}
.nav-link span {
  padding: 0 20px;
  border-right: 1px solid #D1D1D1;
  display: inline-block;
  line-height: 16px;
}
.nav-link:last-child  span {
  border: 0;
}

@media (max-width: 991px) {
  .search-wrap {
      /* width: 290px; */
  }
}
.user-header .icon{
  margin-top: 9px;
  margin-left: -5px;
  font-size: 20px;
  width: 24px;
  color: #212524;
  position: relative;
}
.user-header .account-header{
  display: flex;
  flex-direction: column;
  width: 150px;
  position: absolute;
  top: 28px;
  right: 0;
  background: #fff;
  z-index: 99;
  padding: 10px;
  text-align: center;
  box-shadow: 0px 8px 16px rgba(159,184,192,0.25);;
}
.user-header{
  display: flex;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 20px;
  bottom: 47px;
  cursor: pointer;
}
.user-header .account-header a{
  display: block;
  margin-bottom: 5px;
  color: #333333;
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
}